In [4]:
# Solution to last week's homework
import math
# Any sort of function (like these from the math library) can be called something else as well
# Here I call them sin, cos, etc. so it's shorter to write the cross_in_tray function.
sin = math.sin
cos = math.cos
exp = math.exp
sqrt = math.sqrt # Same as ** 0.5, just more readable
pi = math.pi

def cross_in_tray(x,y):
    return -0.0001*(abs(sin(x)*sin(y)*exp(abs(100-sqrt(x**2+y**2)/pi)))+1)**0.1

print('Should be -2.06261')
print(cross_in_tray(1.34941,-1.34941))

Should be -2.06261
-2.062611870820258

In [ ]:
# Running this will cause an instant kernel crash
# This is because it tries to create infinite copies of itself
# If you run into any scenarios like this that might crash things
#     and you accidentally run it, go to Kernel->Restart.
# Note that you will lose all your current variables.
def innocuous_function():
    try:
        innocuous_function()
    except RecursionError:
        innocuous_function()
    return True

innocuous_function()

In [1]:
car_companies = ['Daimler','Toyota','Ford']
car_companies.append('Volkswagen')
print(car_companies)

['Daimler', 'Toyota', 'Ford', 'Volkswagen']

In [2]:
import random
print(random.choice(car_companies))

Daimler

In [3]:
import random
def some_magic_you_havent_learned_yet():
    return [random.random()*40-20 for x in range(7)]

dataset = some_magic_you_havent_learned_yet()
print(dataset)

[9.29697329670293, 11.925308854425197, 0.6905606882074338, -10.012218210481452, 1.4254862812648064, 12.768052062983855, 11.000482441553167]

In [4]:
for term in dataset:
    print(term)

9.29697329670293
11.925308854425197
0.6905606882074338
-10.012218210481452
1.4254862812648064
12.768052062983855
11.000482441553167

In [7]:
def f(var):
    return var ** 2

new_dataset = []
for x in dataset:
    new_dataset.append( f(x) )

print(dataset)
print(new_dataset)

[9.29697329670293, 11.925308854425197, 0.6905606882074338, -10.012218210481452, 1.4254862812648064, 12.768052062983855, 11.000482441553167]
[86.43371247960735, 142.21299127343198, 0.47687406409752453, 100.2445134942964, 2.0320111380741666, 163.0231534830663, 121.01061394691953]

In [9]:
print(car_companies)
print(car_companies[0])
print(car_companies[3])

['Daimler', 'Toyota', 'Ford', 'Volkswagen']
Daimler
Volkswagen

In [10]:
def magic_planet_data(seed):
    return [round(random.random()*10000*seed+5000*seed,2) for x in range(5)]

asteroids_1 = magic_planet_data(100)
asteroids_2 = magic_planet_data(10)
distances = magic_planet_data(1)
print(asteroids_1)
print(asteroids_2)
print(distances)

[912625.78, 1207708.57, 586890.39, 1278468.53, 1130404.42]
[81703.79, 63494.05, 59136.99, 120535.9, 111730.04]
[13411.13, 13698.83, 13214.71, 14741.96, 11826.16]

In [12]:
def grav_accel(m2,r):
    G = 6.67408*10**-11
    return G*m2/(r**2)

american = 80.7
earth = 5.972*10**24
radius = 6371*10**3
print(grav_accel(earth,radius))

9.819649737724951

In [13]:
for x in asteroids_1:
    print(x)

912625.78
1207708.57
586890.39
1278468.53
1130404.42

In [14]:
asteroid_accel = []
for i,x in enumerate(asteroids_1):
    asteroid_accel.append(grav_accel(asteroids_2[i],distances[i]))
print(asteroid_accel)

[3.031816178070566e-14, 2.258174429584147e-14, 2.260140044395259e-14, 3.701667160505329e-14, 5.3318001373716304e-14]